<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page 2
    </title>
    <link rel="stylesheet" href="styles.css">
	<style>
		section{
			border: 2px solid black;
			width: 75%;
			min-height: 200px;
			float: right;
			text-align: center;
			margin: 5px auto;
		}
		aside{
			border: 2px solid black;
			width: 23%;
			min-height: 420px;
			float: left;
			text-align: center;
		}
		
	</style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Site Title</h1><img src="image-1.png" alt="image">
            <nav>
                <ul>
                    <!-- (li>a)*3 -->
                    <li>
                        <a href="index.html">Page 1</a>
                    </li>
                    <li>
                        <a href="page2.html">Page 2</a>
                    </li>
                    <li>
                        <a href="page3.html">Page 3</a>
                    </li>
                </ul>

            </nav>

        </header>
        <main>
            <aside>
               <h3>aside</h3> 
            </aside>
            <section>
            <h3>Section 1</h3> 	
            </section>
            <section>
            <h3>Section 2</h3>	
            </section>
            
            

        </main>
        <footer>
            <ul>
                <!-- (li>a)*3 -->
                <li>
                    <a href="index.html">Page 1</a> |
                </li>
                <li>
                    <a href="page2.html">Page 2</a> |
                </li>
                <li>
                    <a href="page3.html">Page 3</a> |
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>
