<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Page 3
    </title>
    <link rel="stylesheet" href="styles.css">
	<style>
		section{
			border: 2px solid black;
			width: 75%;
			min-height: 200px;
			float: right;
			text-align: center;
			margin: 5px auto;
		}
		.text{
			border: 2px solid black;
			width: 40%;
			min-height: 420px;
			float: right;
			text-align: center;
			text-align: center;
		}
		main img{
			width: 60%;
			height: 370px;
		}
		
	</style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Site Title</h1><img src="image-1.png" alt="image">
            <nav>
                <ul>
                    <!-- (li>a)*3 -->
                    <li>
                        <a href="index.html">Page 1</a>
                    </li>
                    <li>
                        <a href="page2.html">Page 2</a>
                    </li>
                    <li>
                        <a href="page3.html">Page 3</a>
                    </li>
                </ul>

            </nav>

        </header>
        <main>
            <div class="text">
			<!-- p>lorem*3 -->
            <p>
                <span>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iste id sed deleniti minima, explicabo? Voluptas non cupiditate, veritatis expedita tempora, odit obcaecati doloribus, quod quam ipsa similique porro nemo.</span>
			</p>
                 
            </div>
            <h2>   Video Title</h2>
       
                <img src="image-1.png" alt="image">
            
     
        </main>
        <footer>
            <ul>
                <!-- (li>a)*3 -->
                <li>
                    <a href="index.html">Page 1</a> |
                </li>
                <li>
                    <a href="page2.html">Page 2</a> |
                </li>
                <li>
                    <a href="page3.html">Page 3</a> |
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>
